.main{
    color: blue;
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 36px;
    margin-top: 20px;
}

.header{
    padding: 10px;
    padding-left: 50px;
}

.navbar{
    display: flex;
    gap: 20px;
}

.body{
    margin: 30px;
    padding: 50px;
    background-color: #f4f4f4;
    border-radius: 8px;
}

.blog-image{
    width: 400px;
    height: auto;
    border-radius: 8px;
    margin-top: 20px;
}